<!doctype html>
<html lang="pt-br">
    <head>
        {% include "metatags" %}
        
        <!-- Títilo - Placeholder -->
        <title>Controle Financeiro {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/assets/image/favicon.ico" />
        
        <!-- Stylesheets -->
        {% include "styles" %}
        {% block styles %}{% endblock %}

        <!-- Javascript Header -->
        {% block scripts_header %}{% endblock %}
    </head>
    <body class="afi ux_rivers{% block body_ux %}{% endblock %}">
        <header>
            <div class="content">
                <h1>
                    <a href="" title="Atlassource">
                        {% include "svg" %}
                    </a>
                </h1>
                <ul>
                    <li><a href="" title="Blog">Blog</a></li>
                    <li><a href="" title="Documentação">Documentação <span>[Em Breve]</span></a></li>
                </ul>
            </div>
        </header>

        <!-- NavBar -->
        {% block navbar %}
        {% endblock %}

        <!-- Content -->
        <div class="content">
            <div class="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </div>
        
        <!-- Javascript -->
        {% include "scripts" %}
        {% block scripts %}{% endblock %}
        {% include "analytics" %}
    </body>
</html>