<!doctype html>
<html lang="pt-br">
    <head>
        {% include "metatags" %}
        
        <!-- Títilo - Placeholder -->
        <title>Controle Financeiro {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/assets/image/favicon.ico" />
        
        <!-- Stylesheets -->
        {% include "styles" %}
        {% block styles %}{% endblock %}

        <!-- Javascript Header -->
        {% block scripts_header %}{% endblock %}
    </head>
    <body class="ux_rivers{% block body_ux %}{% endblock %}">
        <!-- NavBar -->
        {% block navbar %}
        {% endblock %}

        <!-- Content -->
        {% block content %}{% endblock %}
        
        <!-- Javascript -->
        {% include "scripts" %}
        {% block scripts %}{% endblock %}
        {% include "analytics" %}
    </body>
</html>