    /* Base
    ----------------------------------------------------------------------- */

	//Master Page
    .container
    {
    	.sidebar
    	{
    		@extend #FIXED;
    		@extend #NO-PADDING;

    		h1 { font-size: 25px; }

    		ul.nav-sidebar
    		{
    			li.active
    			{
    				background: $palette-primary;

    				a { color: $palette-light; }
    			}

    			li.active:hover a { color: $palette-primary; }
    		}
    	}

    	.main
    	{
    		@extend #RIGHT;
    		@extend #NO-MARGIN;
    		background: $palette-light;
    		padding-top: 25px;
    		padding-bottom: 50px;
			width: 83%;

    		form
    		{

				input.alert-danger::-webkit-input-placeholder 	{ color: $palette-danger; }
				input.alert-success::-webkit-input-placeholder 	{ color: $palette-success; }
				input.alert-info::-webkit-input-placeholder 	{ color: $palette-primary; }
					
    			ul.initial
    			{
	    			@extend #LEFT;
	    			@extend #NO-PADDING;
	    			list-style: none;
	    			margin-bottom: 30px;
					width: 100%;

					li.textView
					{
		    			@extend #LEFT;
						width: 31.3%;
						margin-right: 3.05%;
					}

					li:last-child { margin-right: 0; }
    			}

	    		h4
	    		{
	    			@extend #NO-MARGIN;
	    			color: $palette-default;
	    			font-weight: 300;
	    			margin-bottom: 25px;

	    			strong { color: $palette-success; }
	    		}

	    		h4.receitas { margin-top: 40px; }

				label.checkbox
				{
	    			@extend #NO-MARGIN;
	    			@extend #LEFT;
					height: 34px;
					line-height: 34px;
					margin-right: 10px;

					input[type="checkbox"] { float: none; }
				}

	    		input.checkbox
	    		{
	    			@extend #NO-MARGIN;
	    			@extend #LEFT;
	    			margin-bottom: 10px;
					width: 20%;
				}

				.result
				{
	    			@extend #LEFT;
	    			margin-bottom: 10px;
					width: 100%;

					input.alerts
					{
		    			@extend #LEFT;
						width: 28%;
						margin-left: 2.5%; 
						margin-right: 2.5%; 
					}
				}
			}
    	}
    }