    /* Grid
    ----------------------------------------------------------------------- */

    //Col
	#COL-16		{ width: 80px; }
	#COL-15		{ width: 160px; }
	#COL-14		{ width: 240px; }
	#COL-13		{ width: 320px; }
	#COL-12		{ width: 400px; }
	#COL-11		{ width: 480px; }
	#COL-10		{ width: 560px; }
	#COL-9		{ width: 640px; }
	#COL-8		{ width: 720px; }
	#COL-7		{ width: 800px; }
	#COL-6		{ width: 880px; }
	#COL-5		{ width: 960px; }
	#COL-4		{ width: 1040px; }
	#COL-3		{ width: 1120px; }
	#COL-2		{ width: 1200px; }
	#COL-1		{ width: 1280px; }