    /* Settings
    ----------------------------------------------------------------------- */

	//Object Oriented Cascading Style Sheets
	#ABSOLUTE       { position: absolute; }
	#RELATIVE       { position: relative; }
	#FIXED          { position: fixed; }

	#NO-PADDING 	{ padding: 0; }
	
	#NO-MARGIN      { margin: 0; }
	#MARGIN_10 		{ margin: 10%; }

	#LEFT           { float: left; }
	#RIGHT          { float: right; }

	#HIDE           { display: none; }
	#SHOW           { display: block; }