    /* Variables
    ----------------------------------------------------------------------- */

    //Palette Natural Colors
    $palette-danger: 		#D9534F;
    $palette-dark: 			#333333;
    $palette-default: 		#777777;
    $palette-info: 			#5BC0DE;
    $palette-light: 		#FFFFFF;
    $palette-primary: 		#428BCA;
    $palette-success: 		#5CB85C;
    $palette-warning: 		#F0AD4E;