    /* Variables
    ----------------------------------------------------------------------- */

    //Palette Natural Colors
    $palette-dark: 			#333333;
    $palette-default:       #777777;
    $palette-light: 		#FFFFFF;
    $palette-primary: 		#1C5F99;


    // $palette-danger:        #D9534F;
    // $palette-dark:          #333333;
    // $palette-default:       #777777;
    // $palette-info:          #5BC0DE;
    // $palette-light:         #FFFFFF;
    // $palette-primary:       #1c5f99;
    // $palette-success:       #5CB85C;
    // $palette-warning:       #F0AD4E;